body{
    background-color: #f3f2ef!important;
  }
.icon-1{
    justify-content: center;
    align-items: center;
}

svg{
    color: rgb(102, 100, 100);
}

.navlink {
    display: flex !important;
    flex-direction: column;
    width: 90px;
    align-items: center;
}
.dropmenu{
    flex-direction: column;
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0 !important;
    border-right: 1pt solid rgb(211, 210, 210);
}
.dropmenuImg{
    height: 26px;
    width: 26px;
    object-fit: cover;
    border-radius: 13px;

}
 .dropdown title {
    padding: 0 !important;
}
.gridmenu{
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0 !important;
    align-items: center;
    flex-direction: column;
}

.premiumLink{
    font-size: 12px;
    text-align: center;
    width: 100px;
    color: rgb(167, 124, 16);
    margin-bottom: 0;
    margin-top: 2px;
}
.premiumLink:hover{
    text-decoration: underline;
}

