.icon-1{
    justify-content: center;
    align-items: center;
}

svg {
    color: rgb(102, 100, 100);
}

.brand svg {
    color: rgb(10, 102, 194);
}

.brand {
    margin-top: -1px;
    margin-right: 8px;
}

.searchbar{
    background-color: rgb(238, 243, 248);
    height: 34px;
    border: none;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 52px;
}

.subNav {
    position: fixed;
    top: 52px;
    width: 100% !important;
    padding: 0;
    border-top: 1pt solid rgb(231, 230, 230);
    border-bottom:1pt solid rgb(230, 229, 229);
    z-index: 10;
}

.navbarScroll{
    display: none;
}

.navbarScrollactive{
    display: flex;
}

.scrollNav{
    flex-direction: row;
}

.scrollNavImg{
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 17px;
    display: flex;
    margin: 0;

}

.scrollNavText{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
}
.navname{
    width: fit-content;
}

.profileTitle{
    display: flex;
    flex-direction: row;
}

.navlink {
    display: flex !important;
    flex-direction: column;
    width: 80px;
    align-items: center;
    padding: 0!important;
}

.navlink h6 {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
}

.navlink:hover {
    text-decoration: none;
}

.navlink:hover h6, .navlink:hover svg {
    color: black;
}

.dropmenu {
    flex-direction: column;
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0 !important;
    border-right: 1pt solid rgb(211, 210, 210);
}

.dropmenuImg{
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 12px;

}

.gridmenu{
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0 !important;
    align-items: center;
    flex-direction: column;
}

.premiumLink{
    font-size: 12px;
    text-align: center;
    width: 100px;
    color: rgb(167, 124, 16);
    margin-bottom: 0;
    margin-top: 2px;
}
.premiumLink:hover{
    text-decoration: underline;
}

.meTitle a {
    padding: 0 !important;
    line-height: 14px;
    margin-top: 1px;
}

.meWork a {
    padding: 0 !important;
    line-height: 14px;
    margin-top: 4px;
}

.premium {
    width: 100px;
}

.premium h6 {
    line-height: 18px;
}

.activeTab {
    position: relative;
}

.activeTab h6, .activeTab svg {
    color: black;
}

.activeTab:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -6px;
    background-color: black;
}