.plus:hover {
    cursor: pointer !important;
  }
  
  .formLink:hover {
    text-decoration: underline;
    color: purple;
    cursor: pointer;
  }
  .formLink {
    color: purple;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .sel {
    border-radius: 5px !important;
  }
  .grey {
    color: grey;
    font-size: 0.8rem;
  }
  
  .invalid {
    color: red;
    font-size: 1rem;
  }
  
  .btnB {
    min-width: 45%;
    min-height: 3rem;
    background-color: rgb(10, 102, 194);
    color: white;
    border-radius: 3rem;
    border: none;
  }
  .btnW {
    min-width: 45%;
    min-height: 3rem;
    background-color: white;
    color: rgb(10, 102, 194);
    border-radius: 3rem;
    border: 1px solid blue;
  }