.card {
    background: #dce6f1;
    border-radius: 10px;
    width: 100%;

}

.top-row {
    background-color: white;
    border-radius: 9px;
    margin-top: 5px;
    border: 1px solid #aaa8a8;

}

.bottom-row {
    background-color: white;
    border-radius: 9px;
    margin-bottom: 25px;
    border: 1px solid #aaa8a8;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 8px;
    padding-top: 15px
}

.line {
    border-bottom: 1px solid black;
}


.right-box {
    border: 1px solid white;
    width: 250px;
}

.left-box {
    border: 1px solid white;
    width: 250px;

}

.center-box {
    border-left: 0.1rem solid #aaa8a8;
    border-right: 0.1rem solid #aaa8a8;
    width: 250px;

}

h2 {
    color: dodgerblue;
}

