.card {
    background: #dce6f1;
    height: 450px;
    border-radius: 10px;
    width: 800px;

}

.top-row {
    height: 90px;
    background-color: white;
    border-radius:9px;
    margin-top: 5px;
}

.bottom-row {
    height: 220px;
    background-color: white;
    border-radius:9px;
}