.formLink:hover {
  text-decoration: underline;
  color: purple;
  cursor: pointer;
}
.formLink {
  color: purple;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.sel {
  border-radius: 5px !important;
}
.grey {
  color: grey;
  font-size: 0.8rem;
}

.invalid {
  color: red;
  font-size: 1rem;
  margin: 0;
}