body{
  background-color: #f3f2ef!important;
}

#profileBody > .col-9 {
  flex: 0 0 70%!important;
  max-width: 70%!important;
  padding-left: 0!important;
}

#profileBody > .col-3 {
  flex: 0 0 30%!important;
  max-width: 30%!important;
  padding-right: 0!important;
}

#profileBody {
  padding-top: 100px;
}

#homePage {
  padding-top: 100px;
}

#homePage > .col-2 {
  flex: 0 0 22%!important;
  max-width: 22%!important;
  padding-left: 0!important;
}

@media screen and (max-width: 768px) {
  #homePage > .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #homePage > .col-md-6 {
    flex: 0 0 48%;
    max-width: 48%;
  }
}


#homePage > .col-4 {
  flex: 0 0 30%!important;
  max-width: 30%!important;
  padding-right: 0!important;
}
