.profileCard {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
}

.coverDiv {
    max-height: 195.5px;
    height: 100%;
    width: 100%;
    min-height: 195.5px;
    position: relative;
}

.coverBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    height: 32px;
    width: 32px;
    color: rgb(10, 87, 164);
    background-color: white;
    border-radius: 16px;
    border: none;
}

.coverBtn:active {
    color: rgb(9, 34, 59);
    background-color: rgba(255, 255, 255, 0.7);
}

.coverDiv > img {
    width: 100%;
    height: 195.5px;
    object-fit: cover;
}

.profileAbout {
    padding-left: 24px;
    padding-right: 24px;
}

.nameText {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.aboutText {
    font-size: 16px;
    font-weight: 400;
}

.locationText {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
}

.location {
    margin-top: -2px;
}

.blueLink {
    color: rgb(10, 102, 194);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

.contactText::before {
    content: '\00B7';
    color: rgba(0, 0, 0, 0.6);
    margin: 0 3px;
    text-decoration: none;
    height: 19px;
}

.button {
    margin-right: 8px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 600;
    font-stretch: 100%;
    border-radius: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
    background-color: transparent;
    padding: 4px 16px;
    transition: all 0.3s;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 2px inset;
}

.button:active {
    box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 0px 2px inset;
    color: rgba(0, 0, 0, 0.9);
}

.buttonBlue {
    background-color: rgb(10, 102, 194);
    color: white;
    box-shadow: none;
}

.buttonBlue:hover {
    background-color: rgb(0, 65, 130);
    box-shadow: none;
}

.buttonBlue:active {
    background-color: rgb(9, 34, 59);
    box-shadow: none;
}

.carouselCard {
    /* margin: 0 .8rem; */
    margin-right: 16px;
    width: 375px;
    padding: 12px 4px 12px 12px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.editCard {
    background-color: rgb(233, 229, 223);
}

.carouselCardHeader {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.9);
}

.carouselCardText {
    color: rgba(0, 0, 0, 0.9);  
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1px;
    line-height: 1.3;
}

.carousel {
    padding: 24px;
}

.edit {
    margin-top: 12px;
    width: 48px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -12px;
}

.edit > button {
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 4px;
    margin-right: 4px;
    min-width: auto;
    display: flex;  
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
}

.edit > button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.avatarCircle {
    position: absolute;
    bottom: 0;
    width: 160px;
    height: 160px;
    border-radius: 80%;
    overflow: hidden;
    border: 5px solid white;
    margin-bottom: 4px;
}

.avatarCircle > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.avatarHolder {
    position: relative;
}

.carCardButton > a {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top: -8px;
    margin-left: 4px;
    min-width: auto;
    display: flex;  
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
}

.carCardButton > a:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.rightPanel {
    width: 232px;
}

.rightPanel ul {
    padding: 0;
}

.rightPanel li {
    list-style: none;
}

.rightPanel img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.rightPanel h2 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: rgba(0, 0, 0, 0.9);
}